* {
    font-family: 'Roboto', sans-serif;
}

.notice{
    background-color: #d70000;
    color:white;
    font-size:14px;
    text-align:center;
    padding:6px;
}

.container {
    width:90%;
    margin: 0 auto;
}

.aboveHeader{
    margin: 20px auto;
    display:flex;
    justify-content: space-between;
}

.aboveHeader div span{
    margin: 0 20px;
    color: gray;
    font-size: 14px;
}

.link{
    text-decoration: none;
    color:gray;
}

.link:hover{
    color:#d70000;
    cursor:pointer;
}

.aboveHeader div span:hover{
    color:#d70000;
    cursor:pointer;
}

.header {
    display:flex;
    justify-content: space-between;
    align-items:center;
    margin-top:15px;
    padding-bottom:10px;
}

.nav {
    display:flex;
    align-items:center;
}

.nav img {
    margin-right:30px;
}

.navItems {
    display:inline-block;
}

.navItems span {
    font-weight:bolder;
    margin: 0 4%;
    padding-bottom:25px;
}

.navItems span:hover {
    cursor:pointer;
    color:#d70000;
    border-bottom:#d70000 solid 3px;
}

.search input {
    width:140px;
    height:25px;
    font-size:16px;
}

.footer {
    background-color: #dedede;
    padding-top:20px;
    padding-bottom:30px;
    margin-top:50px;
}

.footerText {
    margin: 0 auto;
    width: 90%;
    display:flex;
    justify-content:space-evenly;
}

.footerColumn {
    text-align:center;
    margin: 0 20px;
    font-size:14px;
}

.footerColumn p:hover {
    cursor:pointer;
    color:#d70000;
}

.breadCrumb {
    margin-top:30px;
    font-size:14px;
    color:gray;
}

.breadCrumb span:nth-child(odd):hover {
    cursor:pointer;
    color:#d70000;
}

h1 {
    text-align:center;
    margin-bottom:40px;
}

.sort {
    display:flex;
    justify-content:space-between;
    font-size:14px;
}

.sort div span {
    margin-right:40px;
}

.sort div span:hover {
    cursor:pointer;
    color:#d70000;
}


.sortForm {
    display:inline-block;
}

#sort {
    height:30px;
    font-size:14px;
}

.list {
    display:flex;
    flex-wrap: wrap;
    margin:20px auto 0;
}

.item {
    width:23%;
    margin:30px 1%;
}

.item img{
    width:90%;
}

.title {
    margin:10px 0 5px 0;
    font-weight:bolder;
    font-size:18px;
}

.price {
    font-size:14px;
    color:gray;
}

.shipping {
    margin: 10px 0;
    color:#d70000;
    font-size:12px;
}

.btn {
    background-color: #323232;
    color:white;
    font-size:14px;
    padding:10px 30px;
    cursor:pointer;
    outline:none;
    border:0;
    margin-top:5px;
}

.btn:hover {
    background-color:#d70000;
}

.color {
    margin: 10px 0;
}

.square {
    padding:0 10px;
    border: #c8c8c8 solid 1px;
    margin-right:15px;
}

.red {
    background-color: #9E3338;
}

.white {
    background-color:white;
}

.darkGreen {
    background-color:#535557;
}

.gray {
    background-color:#9AA8A3;
}

.darkGray {
    background-color:#3D3D3F;
}

.darkBlue {
    background-color:#343E51;
}

.square:hover {
    border: #515151 solid 2px;
}

table {
    font-size:14px;
}

.productName img {
    width:120px;
    text-align:left;
    margin-right:10%;
    height:120px;
}

.productName div {
    width:40%;
}

.productName {
    display:flex;
    align-items:center;
    width:450px;
}

.total {
    width:40%;
}

.btnSmall {
    background-color: #323232;
    color:white;
    font-size:12px;
    padding:5px 10px;
    cursor:pointer;
    outline:none;
    border:0;
    margin-right:50px;
}

.btnSmall:hover {
    background-color:#d70000;
}

.unitPrice {
    width:20%;
}

.quantity {
    width:20%;
}
.product input {
    width:30px;
}

.product {
    align-items:center;
}


.product td {
    padding: 20px 0;
    border-bottom: #b3b3b3 solid 1px;
}

.tableHeader td {
    text-align:left;
    font-weight:bolder;
    padding-bottom:10px;
    border-bottom: #b3b3b3 solid 1px;
}

.summary {
    display:flex;
    align-items:center;
    margin-top:30px;
}

.summary div p{
    color:gray;
    font-size:12px;
}

#t2 tbody tr td {
    padding:10px 0;
}

#t2 {
    margin-left:20%;
}

.summaryTitle {
    width:120px;
    font-weight:bolder;
}





